#cancel-changes-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cancel-changes-modal-prompt {
    margin-bottom: 40px;
}

#cancel-changes-button-container {
    display: flex;
    justify-content: center;
}

#cancel-changes-button-container * {
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
}

#cancel-changes-cancel-button {
    background-color: rgb(146, 146, 146);
}

#cancel-changes-discard-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}
