* {
    font-family: 'Roboto', sans-serif;
}

.input {
    height: fit-content;
    color: black;
    outline: none;
}

#create-title {
    margin-top: 0;
    border: none;
    font-family: 'Tilt Warp', cursive;
}

.create-form-text {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: none;
}

#show-img {
    height: 300px;
    width: 100%;
}

#createForm {
    height: auto;
    display: flex;
    flex-flow: column;
    width: 622px;
    background-color: rgba(29, 29, 31, 0.959);
    border: none;
    margin: 10px;
    color: rgb(190, 22, 22);
}

#create-post-img-button {
    width: 80px;
    background: none;
}

.create-form-text-container *.create-form-text {
    margin: 4px;
    border: none;
}

.create-post-text {
    display: flex;
    flex-flow: nowrap;
    width: 32em;
    height: 12em;
    margin-left: 1.5em;
    font-size: large;
    resize: none;
    box-sizing: border-box;
    border: none;
    background-color: rgba(159, 132, 255, 0);
    border-bottom: 2px solid rgb(54, 52, 52)
}

.create-input-label {
    display: flex;
    width: 95%;
    margin-left: 1em;
    border: none;

}

.create-input-label * {
    width: 100%;
    height: 100%;
    color: rgb(250, 248, 248);
    font-size: 28px;
    border: none;
    padding: 10px;
    background-color: rgba(159, 132, 255, 0);
}

.create-post-button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-form-button {
    height: 2.5em;
    width: 12em;
    background: none;
    border: none;
    border-radius: 20px;
    background-color: rgb(52, 154, 216);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.create-form-button:disabled {
    cursor: default;
}

#upload-img-input {
    height: 50px;
    margin-top: 20px;
    margin-left: 30px;
    cursor: pointer;
}

#create-post-profile-picture {
    position: absolute;
    height: 64px;
    width: 64px;
    border-radius: 3px;
    left: -65px;
}

::file-selector-button {
    display: none;
}
